{% extends 'admin/admin.html' %}
{% block content %}
<section class="content-header">
    <h1>微电影管理系统</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 预告管理</a></li>
        <li class="active">编辑预告</li>
    </ol>
</section>
<section class="content" id="showcontent">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">编辑预告</h3>
                </div>
                <form role="form" method="POST" enctype="multipart/form-data">
                    <div class="box-body">
                        {% include 'ui/flashed_error.html' %}
                        <div class="form-group">
                            <label for="input_title">{{ form.preview_title.label }}</label>
                            {{ form.preview_title(value=preview.title) }}
                        </div>
                        {% for err in form.preview_title.errors %}
                        <div class="col-md-12">
                            <font style="color:red">{{ err }}</font>
                        </div>
                        {% endfor %}
                        <div class="form-group">
                            <label for="input_logo">{{ form.preview_logo.label }}</label>
                            {{ form.preview_logo }}
                            <img src={{ url_for('static', filename='uploads/' + preview.logo) }} style="margin-top:5px;width: 200px;height: 100px;" class="img-responsive" alt="">
                        </div>
                        {% for err in form.preview_logo.errors %}
                        <div class="col-md-12">
                            <font style="color:red">{{ err }}</font>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="box-footer">
                        {{ form.preview_edit }}
                        {{ form.csrf_token }}
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
<!-- js -->
{% block js %}
<script>
    $(document).ready(function () {
        $('#g-4').addClass('active')
        $('#g-4-2').addClass('active')
    })
</script>
{% endblock %}